In [1]:
# Create a function with (docs string)

def is_even (num):
    """
    This function returns if a given number is even or odd
    input- any valid integer
    output- odd/even
    created on - 16 march 2023
    """
    if type(num) == int:
        if num % 2 == 0:
            return 'even'
        else:
            return 'odd'
    else:
        return 'kuchh v karte ho bhai '

In [2]:
for i in range(1,11):
    x = is_even(i)
    print(i,x)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [3]:
is_even('hello')

'kuchh v karte ho bhai '

In [4]:
is_even(9)

'odd'

at the time of making function that is known as parameter and at the time when we are using that function that is known as argument

In [5]:
def power(a,b):         # def power(a=1,b=1):
    return (a**b)       #     return (a,b)   (Default parameter)

In [6]:
power(2,3)

8

In [7]:
# positional argument
power(2,3)

8

In [8]:
# keyword argument
power(b=3,a=2)

8

*args and **kwargs are special python keywords that are used to pass the variable length of arguments to a function.

In [9]:
# *args
# allows us to pass variable number of non-keyword arguments to a function

def multiply(a,b):
    return (a*b)

In [10]:
multiply(3,4)

12

In [11]:
def multiply(*args):
    product = 1
    
    for i in args:
        product = product * i
#    print(args)    
    return product

In [12]:
multiply(1,2,3,4,5,6,7,8,9)

362880

In [13]:
print(is_even.__doc__)

    This function returns if a given number is even or odd
    input- any valid integer
    output- odd/even
    created on - 16 march 2023

In [14]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [15]:
print(multiply.__doc__)

None

In [16]:
def display(**kwargs):    # when you want to make a function who will work as a dictionary use ** star
                          # ** kwargs work as a dictionary. you can use any name instead of kwargs
    for (key,value) in kwargs.items():
        print(key,'-->',value)

In [17]:
display(Bihar='Patna',Punjab='chandigarh',Telangana='Hyderabad')

Bihar --> Patna
Punjab --> chandigarh
Telangana --> Hyderabad

<b>(1)orders of arguments matter (normal -> *args-> **kwargs)</b>
    
<b>(2)The words "args" and "kwargs" are only a convention, you can use any name of your choice</b>

In [18]:
l = [1,2,3]
print(l.append(4))

None

In [19]:
print(l)

[1, 2, 3, 4]

In [20]:
def square_root(a):
    print ((a)**0.5)

In [21]:
square_root(16)

4.0

In [22]:
def even(num):
    
    if num % 2 == 0:
        print ('number_is_even')
    else:
        print ('num_is_odd')

In [23]:
even(9)

num_is_odd

In [24]:
num = int(input("enter your number"))

rev = 0
while num != 0:
    a = num % 10
    rev = a+  rev *10
    num = num // 10 
print(rev)

enter your number765
567

In [25]:
# Variable scope 
def g(x):
    print(x)
    print(x+1)
    
x = 5
a = g(x)
print(a)

5
6
None

In [26]:
def f(y):
    x = 1
    x += 1
    print(x)
    
x = 5
f(x)
print(x)

2
5

In [27]:
def h(y):
    x += 1
    
x = 5
h(x)
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [28]:
def h(y):
    global x
    x += 1
    
x = 5
h(x)
print(x)

6

In [29]:
def f(x):
    x = x+1
    print("in f(x): x =",x)
    return x

x = 3
z = f(x)
print("in main program scope: z = ",z)
print("in main program scope: x = ",x)

in f(x): x = 4
in main program scope: z =  4
in main program scope: x =  3

In [30]:
def f():
    def g():
        print('inside function g')
#        f()
    g()
    print('inside function f')

In [31]:
f()

inside function g
inside function f

In [32]:
g()

TypeError: g() missing 1 required positional argument: 'x'

In [33]:
num = int(input("Enter your number "))
rev = 0

while num != 0:
    a = num % 10
    rev = a + rev * 10
    num = num // 10
print(rev)

Enter your number 789
987

In [34]:
def g(x):
    def h(x):
        x = 'abc'
    x += 1
    print("in g(x): x = ",x)
    h()
    return x

x = 3
z = g(x)
print(z)

in g(x): x =  4

TypeError: h() missing 1 required positional argument: 'x'

In [35]:
def g(x):
    def h(x):
        x = x+1
        print('in h(x): x = ',x)
    x += 1
    print('in g(x): x = ',x)
    h(x)
    return(x)

x = 3
z = g(x)
print('in main programme scope: x= ', x)
print('in main programme scope: z= ', z)

in g(x): x =  4
in h(x): x =  5
in main programme scope: x=  3
in main programme scope: z=  4

In [36]:
# functions are first class citizens

# type and id

def square(num):
    return num**2


print(type(square))
print(id(square))

<class 'function'>
2946788296880

In [37]:
x = square
id(x)
x(3)

9

In [38]:
# deleting a function
#del square

In [39]:
# storing
L = [1,2,3,4,5,square]
L

[1, 2, 3, 4, 5, <function __main__.square(num)>]

if function will executed in set that means that function are immutable otherwise function will count in mutable because set will not allow mutable data types.

In [40]:
s = {square}
s

{<function __main__.square(num)>}

In [41]:
# returning a function

def f():
    def x(a,b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [42]:
def func_a():
    print('inside func_a')
    
def func_b(z):
    print('inside func_c')
    return z()

print(func_b(func_a))

inside func_c
inside func_a
None

Benifits of using a Function

# Code Modularity --> codes are divided in modeles such as login, registration, searching all codes                         are written seperately, for example if you are facing a problem in login code                         then you have debug the only code of login.

# Code Readability --> since all codes are seperately written then it will easy your work in team you                        can divide the code in all members such as login to another person registration                        to another person etc...

# Code reusability --> you write one and can use multiple times...

# LAMBDA FUNCTION A,B: A+B
                                       
#### Lambda Keyword :--> Creates the lambda expression                                       
#### Parameters(A,B) :--> one or more parameters are supported must be seperated by                                                                               comma (,) and no parantheses    
#### Colon (:) --> this is a cue for the expression.
#### Expression(A+B):--> Must be a single valid python Expression

In [43]:
a = lambda x:x**2
a(2)

4

In [44]:
b = lambda x,y : x+y
b(3,4)

7

difference b/w lambda vs normal function

no name
lambda has no return value (infacts return a function)
lambda is written in one line
not reusable


they are used eith HOF (Higher order Function)

In [45]:
a = lambda s: 'a' in s
a("hello")

False

In [46]:
a = lambda x:'even' if x%2 == 0 else "odd"
a(9)

'odd'

In [47]:
a(6)

'even'

## Map()

In [48]:
list(map(lambda x:x**2,[2,4,6,8,10,12]))

[4, 16, 36, 64, 100, 144]

In [49]:
# odd even labelling of list item
l = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:'even' if x%2 ==0 else 'odd',l))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [50]:
users = [{
    'name':'gourab',
    'age':26,
    'gender':'male'},
    {
    'name':'saurabh',
    'age':24,
    'gender':'male'  
    },
    {
    'name':'suman',
    'age':26,
    'gender':'male'
    },
    {
    'name':'saroj',
    'age':26,
    'gender':'male'
    }
]

list(map(lambda users:users['name'],users ))

['gourab', 'saurabh', 'suman', 'saroj']

In [51]:
list(map(lambda users:users['age'],users ))

[26, 24, 26, 26]

In [52]:
list(map(lambda users:users['gender'],users ))

['male', 'male', 'male', 'male']

# Filter()

In [53]:
l = [1,3,5,7,9,11]

list(filter(lambda x: x>5,l))

[7, 9, 11]

In [54]:
fruits = ['Apple','guava','cherry','Acerola Cherries','African Breadfruit','Akebi Fruit',
          'Alpine Strawberry','African Mango','Amanatsu oranges']

list(filter(lambda x:x.startswith('A'),(fruits)))

['Apple',
 'Acerola Cherries',
 'African Breadfruit',
 'Akebi Fruit',
 'Alpine Strawberry',
 'African Mango',
 'Amanatsu oranges']

# Reduce()

In [55]:
# sum of all items
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])  #working--> (1+2+3+4+5)(1+2,3,4,5)(3+3,4,5)(6+4,5)(10+5)

15

In [56]:
functools.reduce(lambda x,y:x if x<y else y, [23,11,45,10,1])

1

In [57]:
functools.reduce(lambda x,y:x if x>y else y, [23,11,45,10,1])

45